# Dependencias
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
*.apk
*.ipa

# iOS / Android nativos (si no usas EAS, pueden ser opcionales)
android/
ios/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro (cache de React Native)
.metro-cache/
metro.config.js

# Debug y logs
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*
*.log

# Archivos del sistema / IDE
.DS_Store
*.orig.*
.idea/
.vscode/
*.swp
*.swo
*.tmp

# Variables de entorno
.env
.env*.local
.env.*.local

# TypeScript
*.tsbuildinfo

# EAS (Expo Application Services)
build/
